*{
    padding: 0%;
    margin: 0%;
}

.container_cate{
    padding: auto;
    margin-top: 35mm;
}

.get_in_touch{
    max-width: 500px;
    margin: 50px auto;
    position: relative;
    padding: 30px;
    border:  1px solid #7C83FD;
}
.conteni h3{
    font-size: 25px;
    padding: 0px 0px 30px 30px;
}
.cont_boton{
    width: 100%;
    /*background: blueviolet;*/
    padding: 15px;
    text-align: center;
}
.boton{
    border: 1px solid #EF58C1;
    background: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.boton:hover{
    background: #7C83FD;
    color: cornsilk;
}

/*TABLA*/
table{
    border-collapse: collapse;
    width: 100%;
    padding: auto;
  }

  th, td {
    text-align: center;
  }
  
  tr:nth-child(even){background-color: whitesmoke}
  
  th {
    background-color: #7C83FD;
    color: white;
  }

  tr {
    background-color: whitesmoke;
  }

  .cont{
    max-width: 650px;
    margin: 30px auto;
    position: relative;
    padding: 30px;
    border:  1px solid #7C83FD;
  }

  .boton_add{
    width: 100%;
    padding: 5px;
    text-align: center;
  }

  @keyframes fanimado {
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  }