/*Seccion Presentación del curso - leidy*/

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body {
    color: #666666;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    overflow-x: hidden !important;
    background-image: url(../images/background.png);
}

.filter {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
}

.filter .container .col-lg-12 .button-group {
    margin-bottom: 30px;
    text-align: center;
}

.filter .container .col-lg-12 .button-group a {
    display: inline-block;
    margin-right: 0.1875rem;
    margin-bottom: 0.5rem;
    margin-left: 0.1875rem;
    padding: 0.3125rem 1.375rem 0.25rem 1.375rem;
    border-radius: 0.25rem;
    background-color: #f1f4f7;
    color: #7b7e85;
    font: 700 0.75rem/1.25rem "Montserrat", sans-serif;
    cursor: pointer;
    transition: all 0.2s ease;
}

.filter .container .col-lg-12 .button-group a:hover {
    background-color: #7C83FD;
    color: #fff;
    text-decoration: none !important;
}

.filter .container .col-lg-12 .container h3 {
    font-size: 1.2rem;
}

.filter .container .col-lg-12 .container h3 a {
    color: #b3d4fc;
    opacity: 1;
}

.filter .container .col-lg-12 .container h3 a:hover {
    text-decoration: none !important;
}

.filter .container .col-lg-12 .container .btn_preg {
    width: 35px;
    height: 35px;
    background: #F1F4F7;
    font-size: 1em;
    color: #7b7e85;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .2);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.filter .container .col-lg-12 .container .btn_preg:hover {
    cursor: pointer;
    background: #7C83FD;
    color: #fff;
    transition: 0.4s;
}


/*Modal*/

.filter .container .col-lg-12 .container .modal {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.filter .container .col-lg-12 .container .modal .modal-dialog .modal-content .modal-header .modal-title {
    color: #7b7e85;
    font-size: 16px;
    margin-top: 1.3rem;
}

.filter .container .col-lg-12 .container .modal .modal-dialog .modal-content .modal-body .row .right {
    /*texto largo*/
    float: right;
    margin-left: 4px;
}

.filter .container .col-lg-12 .container .modal .modal-dialog .modal-content .modal-body .row .left {
    height: 2rem;
    margin-left: 20px;
    position: relative;
    width: 2rem;
    text-align: center;
}

.filter .container .col-lg-12 .container .modal .modal-dialog .modal-content .modal-footer .btn-light {
    font-size: 12px;
    border: none;
    color: #7b7e85;
    background-color: #f1f4f7;
}

.filter .container .col-lg-12 .container .modal .modal-dialog .modal-content .modal-footer .btn-light:hover {
    color: #f1f4f7;
    background-color: #7b7e85;
    transition: 0.4s;
}


/*Fin modal*/

.filter .container .col-lg-12 .row .layout_padding_2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.filter .container .col-lg-12 .row .layout_padding_2 .full {
    float: left;
    width: 100%;
    height: 100%;
}

.filter .container .col-lg-12 .row .layout_padding_2 .full .heading_main {
    display: inline;
}

.filter .container .col-lg-12 .row .layout_padding_2 .full .heading_main h2 {
    font-weight: bold;
    font-size: 1.5rem;
    color: #7C83FD;
}

.filter .container .col-lg-12 .row .layout_padding_2 .full .full {
    float: left;
}

.filter .container .col-lg-12 .row .col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter .container .col-lg-12 .row .col-md-6 .full {
    width: 100%;
    height: 100%;
}

.filter .container .col-lg-12 .row .col-md-6 .full .img_logo_cursos {
    box-shadow: rgba(145, 145, 145, 0.9) 2px 4px 6px;
    border-radius: 0.25rem;
    width: 100%;
    height: auto;
}

.filter .container .col-lg-12 .container {
    width: 100%;
}

.filter .container .col-lg-12 .container .full {
    float: left;
    width: 100%;
    height: 100%;
}

.filter .container .col-lg-12 .container .full .hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: #7C83FD;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #fff;
    float: left;
    width: 165px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin-top: 20px;
    font-weight: 600;
    text-indent: -10px;
}

.filter .container .col-lg-12 .container .full .hvr-radial-out:hover {
    cursor: pointer;
}

.filter .container .col-lg-12 .container .full .hvr-radial-out::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #070500;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-radial-out:hover::before,
.hvr-radial-out:focus::before,
.hvr-radial-out:active::before {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.filter .container .col-lg-12 .container .full .hvr-radial-out:after {
    content: "";
    display: flex;
    width: 25px;
    height: 100px;
    background: #fff;
    position: absolute;
    z-index: 11;
    top: 0;
    right: -6px;
    transform: skew(-20deg);
}

.filter .container .col-lg-12 .container .formcodigocursos {
    transform: translate(12rem, -2.5rem);
}

.filter .container .col-lg-12 .container .formcodigocursos .input-group .inputcodigo {
    font-family: 'Nunito', sans-serif;
    padding: 4px 0 4px 4px;
    border: .1rem solid rgba(0, 0, 0, .1);
    font-size: 1rem;
    color: #333;
    text-transform: none;
}

.filter .container .col-lg-12 .cursoslinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    background: transparent;
}

.filter .container .col-lg-12 .cursoslinks .titulotemario {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
    flex: 1 1 30rem;
    text-align: center;
}

.filter .container .col-lg-12 .cursoslinks .titulotemario h3 {
    font-family: 'Lobster Two', cursive;
    font-size: 3rem;
    color: #7C83FD;
}

.filter .container .col-lg-12 .cursoslinks .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
    flex: 1 1 30rem;
}

.filter .container .col-lg-12 .cursoslinks .content .icons-container .btn_cursovideo {
    width: 100%;
    text-align: center;
}

@media (max-width: 1060px) {
    .filter .container .col-lg-12 .row .col-md-6 .full .img_logo_cursos {
        max-width: 400px;
    }
}

@media (max-width: 860px) {
    .filter .container .col-lg-12 .row .col-md-6 .full .img_logo_cursos {
        max-width: 350px;
    }
}

@media (max-width: 767px) {
    .filter .container .col-lg-12 .row .col-md-6 .full .img_logo_cursos {
        max-width: 500px;
    }
}

@media (max-width: 550px) {
    .filter .container .col-lg-12 .container .formcodigocursos {
        transform: translate(0rem, 1rem);
    }
    .filter .container .col-lg-12 .row .col-md-6 .full .img_logo_cursos {
        max-width: 400px;
    }
}


/* Fin de Seccion Presentación del curso*/