@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

body {
    background-color: #fff;
}

.container-fluid .row .col-12 .section-title-course {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 500;
    font-size: 2.6rem;
    text-transform: uppercase;
    background-color: #7C83FD;
    border-radius: 50px;
    color: white;
    padding: .7rem 4rem .2rem 4rem;
    width: 100%;
}

.container-fluid .row .col-12 .section-title-course hr {
    width: 100%;
    border: 2px solid #99ccff;
    margin: 0.5rem 0rem 1rem 0rem;
}

.container-fluid .row .col-12 .card {
    max-width: 423px;
    max-height: 179px;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex;
    margin-left:auto;
    margin-right:auto;
}

.container-fluid .row .col-12 .card .col-5 .container-image {
    width: 100%;
    height: 165px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container-fluid .row .col-12 .card .col-5 .container-image img {
    max-height: 100%;
    max-width: 100%;
}

/*width: 100%;
    height: 165px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
min-height: 100%;
    min-width: 100%;*/
.container-fluid .row .col-12 .card .col-7 {
    padding: 1rem;
}

.container-fluid .row .col-12 .card .col-7 .container-title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    
}

.container-fluid .row .col-12 .card .col-7 .container-title a {
    font-size: 18px;
    color: #4f52d6;
}

.container-fluid .row .col-12 .card .col-7 .container-descrition {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #b4b4b4;
    margin-top: 0.5rem;
    padding-right: 3rem;
    min-width: 270px;
    min-height: 80px;
    display: flex;
    
}

.container-fluid .row .col-12 .card .col-7 .container-link {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #33c6e7;
    margin-top: 1rem;
    text-decoration: none;
}

.container-fluid .row .col-12 .card .col-7 .container-link a {
    text-decoration: none;
    color: #33c6e7;
    text-align: justify;
}

/* cursos */

/* 
.container-fluid .row .section-title-courses {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #7c83fd;
    padding: 1rem 3.5rem;
    width: 100%;
}

.container-fluid .container-card-course .row {
margin: 0;
padding: 0;
width: 100%;
border-radius: 10px;

}
.container-fluid .container-card-course .row .card {
    max-width: 275px;
    max-height: 400px;
    border-radius: 10px;
}
.container-fluid .container-card-course .row .card .container-card-image {
    width: 100%;
    height: 216px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.container-fluid .container-card-course .row .card .container-card-image img {
    flex-shrink: 0;
    min-height: 100%;
}
.container-fluid .container-card-course .row .card .container-card-title {
    text-transform: uppercase;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin: 1rem auto 0;
}
.container-fluid .container-card-course .row .card .container-card-description {
    color: #b4b4b4;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-align: center;
}
.container-fluid .container-card-course .row .card .container-card-link {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-align: left;
    font-weight: bold;
    padding: 1rem;
}
.container-fluid .container-card-course .row .card .container-card-link a {
    color: #33c6e7;
    margin-bottom: 1rem;
    text-decoration: none;
}
*/

/* BUSCADOR */

.search_wrap .input-group .form-control:focus{
    box-shadow: none;
}

.container .input {
    border: 1px solid #d5d7da;
    outline: none;
    color: #8b7d77;
    background-color: #f7f9fa;
}

.search_wrap {
    width: 100%;
}

.search_wrap .search_box {
    position: relative;
    width: 100%;
    height: 50px;
}

.search_wrap .search_box .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
}

.search_wrap .search_box .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.5%;
    height: 100%;
    background: #99ccff;
    z-index: 1;
    cursor: pointer;
}

.search_wrap .search_box .btn:hover {
    background: #7c83fd;
}

.search_wrap .search_box .btn.btn_common .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .btn {
    right: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search_wrap.search_wrap_1 .search_box .input,
.search_wrap.search_wrap_3 .search_box .input {
    padding-right: 80px;
}

.search_wrap.search_wrap_2 .search_box .btn {
    left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search_wrap.search_wrap_2 .search_box .input,
.search_wrap.search_wrap_4 .search_box .input {
    padding-left: 80px;
}

.search_wrap.search_wrap_3 .search_box .input,
.search_wrap.search_wrap_4 .search_box .input,
.search_wrap.search_wrap_6 .search_box .input {
    border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn {
    right: 0px;
    border-radius: 50%;
}

.search_wrap.search_wrap_4 .search_box .btn {
    left: 0px;
    border-radius: 50%;
}

.search_wrap.search_wrap_6 .search_box .btn,
.search_wrap.search_wrap_5 .search_box .btn {
    width: 125px;
    height: 45px;
    top: 8px;
    right: 5px;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_wrap.search_wrap_6 .search_box .btn {
    border-radius: 25px;
}

.search_wrap.search_wrap_5 .search_box .input,
.search_wrap.search_wrap_6 .search_box .input {
    padding-right: 145px;
}

/*cartillas*/

.container-fluid .row .section-title-courses {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #7c83fd;
    padding: 1rem 3.5rem;
    width: 100%;
}

.container-fluid .container-card-course .row {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container-fluid .container-card-course .row .col-12 {
    padding: 0.8rem;
}

.container-fluid .container-card-course .row .col-12 .card {
    max-width: 320px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    border-radius: 0;
    margin: 0 auto;
    border: 1px solid #7C83FD;
    text-align: justify;
    justify-content: space-between;
}
.container-fluid .container-card-course .row .col-12 .card-miscursos {
    max-width: none;
}

.container-fluid
    .container-card-course
    .row
    .col-12
    .card
    .container-card-image {
    width: 100%;
    height: 165px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-fluid
    .container-card-course
    .row
    .col-12
    .card
    .container-card-image
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    max-width: unset;
}

.container-fluid /* TITULO DE LAS CARD */
    .container-card-course
    .row
    .col-12
    .card
    .container-card-title {
    text-transform: uppercase;
    color: #303030;
    margin-bottom: auto;
    line-height: 20px;
    font-size: 1.2rem;
    font-family: 'Baloo Tamma 2', cursive;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
}

.container-fluid /* DESCRIPCIÓN DE LAS CARD */
    .container-card-course
    .row
    .col-12
    .card
    .container-card-description {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 1.2rem;
    color: #515151;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.container-fluid
    .container-card-course
    .row
    .col-12
    .card
    .card-description-miscursos {
    font-size: .9rem;
    font-weight: 600;
}

.container-fluid .container-card-course /* CREADO POR DE LAS CARD */
.row .col-12 .card .container-card-title + .container-card-description {
    font-size: 1rem;
    margin: 22px 0 16px 0;
}

/*
.container-fluid
    .container-card-course
    .row
    .col-12
    .card
    .container-card-link {
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
}
*/

/*
.container-fluid
    .container-card-course
    .row
    .col-12
    .card
    .container-card-link
    a {
    color: dimgray;
    margin-bottom: 1rem;
    text-decoration: none;
}
**/

.card:hover{
    box-shadow: 5px 5px 20px rgba(203, 0, 253, 0.4);
	transform: translateY(-3%);
}
.card-miscursos:hover {    
    box-shadow: 0px 0px 18px 0px #7c83fd;
	transform: translateY(-3%);
}

.container-card-link{ /* ESTILOS DE BOTON CARD */
    text-align: center;
    font-size: 1.4rem;
    /*float: left;*/
}

.card .container-card-link a{
	display: inline-block;
	text-decoration: none;
	color: #e7e7e7;
	background-color: #7c83fd;
	border-radius: 50px;
	transition: all 400ms ease;
    font-weight: bold;
    line-height: 1.8rem;
    padding: .4rem 1rem 0rem 1rem;
    min-width: 160px;
}
.card .card-link-miscursos a{
    border-radius: 6px;
    padding: .8rem 2rem .5rem 2rem;
}
.card .card-link-miscursos i{
    font-size: 1.2rem;
}

.card .container-card-link a:hover{
	background-color:#127b9b;
}

/*fin de cartillas*/

@media (max-width: 1241px) {
    .container-fluid .row .col-12 .card .col-7 .container-descrition {
        font-size: 14px;
        padding-right: 2rem;
    }
    .container-fluid .row .col-12 .card .col-7 .container-link {
        font-size: 14px;
    }
    .container-fluid .row .col-12 .section-title-course { /*Títulos de secciones*/
        font-size: 2rem;
    }
    .container-fluid .container-card-course /*Títulos de las Card*/
    .row .col-12 .card .container-card-title {
        font-size: 1.1rem;
    }
    .container-fluid .container-card-course /* CREADO POR DE LAS CARD */
    .row .col-12 .card .container-card-title + .container-card-description {
        font-size: .9rem;
    }
    .container-fluid .container-card-course /* DESCRIPCIÓN DE LAS CARD */
    .row .col-12 .card .container-card-description {
        font-size: 1.1rem;
    }
    .container-card-link{ /* ESTILOS DE BOTON CARD */
        font-size: 1.3rem;
    }
    .card .card-link-miscursos i{
        font-size: 1.1rem;
    }
}

@media (max-width: 1055px) {
    .container-fluid .row .col-12 .card .col-7 {
        padding: 1rem 0.5rem;
    }
    .container-fluid .row .col-12 .card .col-7 .container-descrition {
        font-size: 13px;
        padding-right: 1rem;
    }
    .container-fluid .row .col-12 .card .col-7 .container-link {
        font-size: 13px;
    }
    .container-card-link{ /* ESTILOS DE BOTON CARD */
        font-size: 1.2rem;
    }
    .card .card-link-miscursos i{
        font-size: 1rem;
    }
}

@media (max-width: 930px) {
    .container-fluid .row .col-12 .card .col-7 .container-descrition {
        padding-right: 1.5rem;
    }
    .container-fluid .row .col-12 .section-title-course { /*Títulos de secciones*/
        font-size: 1.6rem;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .container-fluid .row .col-12 .card .col-7 .container-descrition {
        font-size: 16px;
        padding-right: 3rem;
    }
    .container-fluid .row .col-12 .card .col-7 .container-link {
        font-size: 16px;
    }
    .container-fluid .row .col-12 .section-title-course { /*Títulos de secciones*/
        line-height: 1.8rem;
        font-weight: 600;
    }
    .container-fluid .container-card-course /*Títulos de las Card*/
    .row .col-12 .card .container-card-title {
        font-size: 1.2rem;
    }
    .container-fluid .container-card-course /* CREADO POR DE LAS CARD */
    .row .col-12 .card .container-card-title + .container-card-description {
        font-size: 1rem;
    }
    .container-fluid .container-card-course /* DESCRIPCIÓN DE LAS CARD */
    .row .col-12 .card .container-card-description {
        font-size: 1.1rem;
    }
    .container-fluid
    .container-card-course
    .row
    .col-12
    .card
    .card-description-miscursos {
        font-size: .9rem;
        font-weight: 600;
    }
    .container-card-link{ /* ESTILOS DE BOTON CARD */
        font-size: 1.4rem;
    }
    .card .card-link-miscursos i{
        font-size: 1.2rem;
    }
}

@media (max-width: 440px) {
    .container-fluid .row .col-12 .card .col-7 .container-descrition {
        font-size: 14px;
        padding-right: 4rem;
    }
    .container-fluid .row .col-12 .card .col-7 .container-link {
        font-size: 14px;
    }
}

@media (max-width: 379px) {
    .container-fluid .row .col-12 .card .col-7 .container-descrition {
        font-size: 13px;
        padding-right: 3rem;
    }
    .container-fluid .row .col-12 .card .col-7 .container-link {
        font-size: 13px;
    }
}

.container-card-title{
    font-size: 20px;
    color: #ffffff;
}

.container-card-title .tittle {
    text-transform: uppercase;
    font-family: 'Baloo Tamma 2', cursive;
}

.container-card-description{
    font-size: 13px; 
    text-align: center;
   
}

.container-card-description{
    padding-bottom: 1px; 
    margin-bottom: 1px; 
    font-size: 14px; 
    position: relative;
    
}

.precio{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.info{
    background: #FFF; 
    border-radius: 30px; 
    font-weight: 500;  
    width: 140px;
    height: 30px;
}

.info a{
    color: #7C83FD; 
    font-size: 18px; 
    text-decoration: none;
    position: relative;
    margin: auto;
    padding: 9px;
    top: -23px;
}