@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

footer ul {
  padding: 0;
  margin: 0;
}
footer li {
  list-style: none;
}
footer a:focus,
footer a:hover {
  text-decoration: none; 
  outline: 0;
} 
.footer-big {
  padding: 3rem 0 0 0; 
}
.footer-big .footer-widget {
  margin-bottom: 40px;
}
.footer--light {
  background: #F2F7FF;
}
.footer-big .footer-menu ul li a,
.footer-big p,
.footer-big ul li {
  color: #7c83fd;
}
.footer-menu ul li a {
  font-size: 18px;
  line-height: 32px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer-menu ul li a:hover {
  color: #7C83FD;
} 
.footer-widget-title {
  line-height: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.widget-about img {
  display: block;
  margin-bottom: 30px;
  max-width: 80%;
}
.widget-about p {
  font-weight: 400;
}
.widget-about .contact-details {
  margin: 30px 0 0 0;
}
.widget-about .contact-details li {
  margin-bottom: 10px;
}
.widget-about .contact-details li:last-child {
  margin-bottom: 0;
}
.widget-about .contact-details li i {
  padding-right: 10px;
  color:#333;
}
.widget-about .contact-details li a {
  color: #5867dd;
}
@media (max-width: 991px) {
  .footer-menu {
    padding-left: 0;
  }
  .widget-about img {
    max-width: 100%;
  }
}
/*#e5f3ff*/ 
.site-footer {
    padding: 0 0 20px;
    font-size: 17px;
    line-height: 24px;
    color: #737373;
  }

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
  }
  .site-footer hr.small {
    margin: 20px 0;
  }
  .site-footer a {
    color: #7c83fd;
  }
  .site-footer a:hover {
    color: #fff;
    text-decoration: none;
  } 
  .site-footer .social-icons {
    text-align: right;
  }
  .site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #7C83FD;
  }
  
  @media (max-width: 991px) {
    .site-footer [class^="col-"] {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 767px) {
    .site-footer {
      padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
      text-align: center;
    }
  }
  @media (min-width: 1200px) {
    .social-icons {
      padding-right: 50px;
    }
  }
  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .social-icons li {
    display: inline-block;
    margin-bottom: 4px;
  } 
  .social-icons a {
    background-color: #ecefef;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
  } 
  .social-icons a.facebook:hover {
    background-color: #3b5998;
  }
  .social-icons a.twitter:hover {
    background-color: #00aced;
  }
  .social-icons a.instagram:hover {
    background-color: #DD2A7B;
  }
  .social-icons a.envelope:hover {
    background-color: #ec4a40;
  }
  .social-icons a.whatsapp:hover {
    background-color: #00bb2d;
  }
  .social-icons a.youtube:hover {
    background-color: red;
  }
  
  .site-footer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .enviar_inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center; 
    width: 50px;
    height: 50px;
  }

  