@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

.footer--light {
    background-image: url("assets/images/fondo2-min.png");
    /* background-color: blue; */
    background-size: 100% 100%;
}

.widget-about{
    display: flex;
    justify-content: center;
}

.widget-about img{
    padding-top: 60px;
    width: 20%;
}

.contenido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Baloo Tamma 2', cursive;
    gap: 98px;
    margin-right: 340px;
    
}

.enviar_inicio{
    width: 63px;
    height: auto;
    margin-left: 100px;
}

.title{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.footer-menu a{
    color: white;
    font-size: 10px;
    transition: color .5s;
}

.footer-menu a:hover{
    color: red;
}

.copy{
    margin: auto; 
    text-align: center; 
    width: 800px;
}

.copyright-text{
    font-size: 16px; 
    color: #ffffff;
}

.redes{
    margin-left: 45px;
}

.copyright-text{
    font-family: 'Baloo Tamma 2', cursive;
}

#a{
    transition: 0.5s;
  -moz-transition: 0.5s; /* Firefox */
  -webkit-transition: 0.5s; /* Chrome - Safari */
  -o-transition: 0.5s; /* Opera */
}

#a:hover{
    transform : scale(1.1);
  -moz-transform : scale(1.1); /* Firefox */
  -webkit-transform : scale(1.1); /* Chrome - Safari */
  -o-transform : scale(1.1); /* Opera */
  -ms-transform : scale(1.1); /* IE9 */
}
  
@media (max-width: 400px) {
    .footer--light {
        background-image: url("assets/images/fondo2-min.png");
        background-size: 100% 100%;
        /* background-color: blue !important; */
        /* overflow:hidden;
        object-fit: cover;
        width: 100%;
        height: auto;  */  
        }  
    .widget-about{
        display: flex;
        justify-content: center;
    }
    .widget-about img{
        padding-top: 60px;
        width: 60%;
    }
    .contenido{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-family: 'Baloo Tamma 2', cursive;
        gap: 98px;
        margin-right: 340px;
    }
    .enviar_inicio{
        width: 10%;
        height: auto;
        margin-left: 100px;
    } 
    .title{
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding-left: 7em;
    }
    .footer-menu{
        padding-left: 9em;
        
    }
    .social-icons{
        display: flex;
        flex-direction: row;
        margin-left: 40px;
    }
    .envelope{
        margin-left: 6em;
    }
 
}



  /*  .footer-menu li{

      -webkit-transform: scale(1,1);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 250ms;
      -moz-transform: scale(1,1);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 250ms;
  }

  .footer-menu li:hover{

      -webkit-transform: scale(1.10,1.10);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 1.2;
      -moz-transform: scale(1.10,1.10);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 250ms;
  } */