    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap');
    
    * {
        margin: 0;
        padding: 0;
    }
    
    .div-container-panel-nosotros {
        background-image: url(../images/fondo1.png);
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 100vh;
        background-size: cover;
        max-width: 100%;
        width: 100%;
    }
    
    .div-container-panel-nosotros .row {
        height: 100vh;
    }
    
    .div-container-panel-nosotros .row .container-panel-nosotros {
        margin: auto 0;
    }
    
    .div-container-panel-nosotros .row .container-title-panel-nosotros {
        padding-right: 8rem;
    }
    
    .title-panel {
        font-family: 'Baloo Tamma 2', cursive;
        font-weight: bolder;
        font-size: 9rem;
        font-weight: 800;
        line-height: 7rem;
        color: #7c83fd;
    }
    
    .description-panel {
        font-family: 'Baloo Tamma 2', cursive;
        font-style: normal;
        font-weight: normal;
        line-height: 2.4rem;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    
    .button-panel {
        font-family: 'Baloo Tamma 2', cursive;
    }
    
    .btn_registrar_panel {
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 10px;
        padding: .4rem 2.8rem;
        background-color: #7c83fd;
        color: #ffffff;
        transition: all 0.3s ease;
    }
    
    .btn_registrar_panel:hover {
        background-color: transparent;
        color: #7c83fd;
        border: 1px solid #7c83fd;
    }
    
    .container-panel-image-nosotros {
        height: 100%;
        margin: auto 0;
    }
    
     /*.image-panel {
   bottom: 0;
    position: absolute; 
    }*/
    
    .container-panel-image-nosotros img {
        width: 660px;
        margin-bottom: 1.6rem;
    }
    
























































    @media only screen and (max-width: 1458px) {
        .container-panel-image-nosotros img {
            width: 880px;
            transition: all 0.3s ease;
        }
        .title-panel {
            font-size: 6.4rem;
            transition: all 0.3s ease;
        }
        .description-panel {
            font-size: 1.8rem;
        }
    }
    
    @media (max-width: 1341px) {
        .title-panel {
            font-size: 5rem;
            line-height: 5rem;
            transition: all 0.3s ease;
        }
        .description-panel {
            font-size: 1.5rem;
        }
    }
    
    @media (max-width: 1199px) {
        .container-panel-image-nosotros img {
            width: 750px;
            transition: all 0.3s ease;
        }
        .div-container-panel-nosotros .row .container-title-panel-nosotros {
            padding-right: 1rem;
        }
    }
    
    @media (max-width: 1024px) {
        .title-panel {
            font-size: 4rem;
            line-height: 5rem;
            transition: all 0.3s ease;
        }
        .description-panel {
            font-size: 1.2rem;
        }
    }
    
    @media (max-width: 992px) {
        .container-panel-image-nosotros img {
            width: 650px;
            transition: all 0.3s ease;
        }
        .div-container-panel-nosotros .row .container-title-panel-nosotros {
            padding-right: 1rem;
        }
    }
    
    @media (max-width: 830px) {
        .container-panel-image-nosotros img {
            width: 480px;
            transition: all 0.3s ease;
        }
        .title-panel {
            font-size: 3.3rem;
            transition: all 0.3s ease;
        }
        .description-panel {
            font-size: 1.2rem;
            transition: all 0.3s ease;
        }
        .btn_registrar_panel {
            font-size: 1.2rem;
            transition: all 0.3s ease;
        }
    }
    
    @media (max-width: 767px) {
        .div-container-panel-nosotros .row .m-auto {
            display: none;
        }
        .title-panel {
            font-size: 7.4rem;
            line-height: 7rem;
            transition: all 0.3s ease;
        }
        .description-panel {
            font-size: 2rem;
            transition: all 0.3s ease;
        }
        .btn_registrar_panel {
            font-size: 1.6rem;
            transition: all 0.3s ease;
        }
        .container-panel-nosotros {
            padding-left: 4rem;
        }
    }
    
    @media (max-width: 613px) {
        .title-panel {
            font-size: 5rem;
            line-height: 5rem;
            transition: all 0.3s ease;
        }
        .description-panel {
            font-size: 2rem;
            transition: all 0.3s ease;
        }
        .btn_registrar_panel {
            font-size: 1.6rem;
            transition: all 0.3s ease;
        }
        .container-panel-nosotros {
            padding-left: 4rem;
        }
    }
    
    @media (max-width: 533px) {
        .title-panel {
            font-size: 4rem;
            line-height: 4rem;
            transition: all 0.3s ease;
        }
        .description-panel {
            font-size: 1.6rem;
            transition: all 0.3s ease;
        }
        .btn_registrar_panel {
            font-size: 1.4rem;
            transition: all 0.3s ease;
        }
        .container-panel-nosotros {
            padding-left: 2rem;
        }
    }
    
    @media (max-width: 440px) {
        .title-panel {
            text-align: center;
            font-size: 3.6rem;
            line-height: 4rem;
            transition: all 0.3s ease;
        }
        .description-panel {
            text-align: center;
            font-size: 1.4rem;
            transition: all 0.3s ease;
        }
        .button-panel {
            display: flex;
            justify-content: center;
        }
        .btn_registrar_panel {
            font-size: 1.2rem;
            transition: all 0.3s ease;
        }
    }
    

    @media (max-width: 360px) {
        .title-panel {
            font-size: 3rem;
            line-height: 3.6rem;
            transition: all 0.3s ease;
            margin-bottom: 1.3rem;
        }
        .description-panel {
            font-size: 1.2rem;
            transition: all 0.3s ease;
        }
        .btn_registrar_panel {
            font-size: 1rem;
            transition: all 0.3s ease;
        }
    }
    
























































    .container-video {
        background-color: #e0c7e5;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 5rem 0;
    }
    .container-video .d-flex {
        padding: 0 5.6rem;
    }
    
    .container-video-educalma {
        width: 100%;
    }
    
    .video-youtube {
        width: 100%;
        height: 0px;
        padding-bottom: 56.25%;
        position: relative;
    }
    
    .video-youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
    
    .title-video {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2.6rem;
        font-family: 'Baloo Tamma 2', cursive;
        color: #7c83fd
    }
    .text-title-video {
        font-family: 'Baloo Tamma 2', cursive;
        font-size: 1.3rem;
        font-weight: 500;
    }
    
    .cards-video {
        border: 2px solid transparent;
        box-shadow: 0px 4px 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }
    
    .text-cards-video {
        font-weight: bold;
        font-size: 16px;
    }
    
    @media (max-width: 1199px) {
        .container-video .d-flex {
            padding: 0 3rem;
        }
        .title-video {
            line-height: 2.5rem;
        }
    }
    @media (max-width: 991px) {
        .cards-video img {
            width: 30px;
        }
        .title-video {
            font-size: 2rem;
        }
        .text-title-video {
            font-size: 1rem;
        }
    }
    @media (max-width: 768px) {
        .title-video {
            text-align: center;
        }
        .text-title-video {
            text-align: center;
            margin-bottom: 2rem;
        }
    }
    
    .container-questions {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(224,199,229,1) 42%, rgba(231,244,255,1) 100%);
        max-width: 100%;
        padding: .1rem 0 4rem 0;
    }
    
    .container-questions .row .col-md-12 {
        margin: 0 auto;
        text-align: center;
    }
    
    .container-questions .col-md-12 {
        max-width: 924px;
    }

    .container-questions .card-body {
        font-size: 1.1rem;
        padding-right: 6rem;
        line-height: 1.4rem;
    }
    
    .container .row .col-md-12 .section-title-course {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2.6rem;
        font-family: 'Baloo Tamma 2', cursive;
        text-align: center;
        justify-content: center;
        color: #7c83fd;
        width: 100%;
    }
    
    .container .row .col-md-12 .accordion {
        font-family: "Work Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
    }
    
    .container .row .col-md-12 .accordion .card {
        text-align: justify;
        background: #e7f4ff;
        color: #0c0d0e;
        padding-left: 2rem;
        font-size: 14px;
    }
    
    .card-questions-box {
        border: 2px solid transparent;
        box-shadow: 0px 4px 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }
    
    .container .row .col-md-12 .accordion .card .card-header {
        background: #e7f4ff;
    }
    
    .container .row .col-md-12 .accordion .card .card-header .card-text {
        font-family: "Work Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.1rem;
        color: #0c0e0f;
        text-decoration: none;
        cursor: pointer;
    }
    .card-text i {
        float:right;
        color: #7c83fd;
        font-size: 2.4rem;
    }

    @media (max-width: 750px) {
        .container .row .col-md-12 .section-title-course {
            font-size: 2.2rem;
        }
        .container .row .col-md-12 .accordion .card {
            padding: 0;
        }
        .container .row .col-md-12 .accordion .card .card-header .card-text {
            font-size: 1rem;
        }
        .card-text i {
            font-size: 1rem;
            padding-top: .4rem;
        }
        .container-questions .card-body {
            font-size: .9rem;
            padding: 0 .8rem;
        }
    }

    @media (max-width: 440px) {
        .container .row .col-md-12 .section-title-course {
            font-size: 2.2rem;
            line-height: 2.2rem;
        }
        .container .row .col-md-12 .accordion .card {
            padding: 0;
        }
        .container .row .col-md-12 .accordion .card .card-header .card-text {
            font-size: 1rem;
        }
        .card-text i {
            font-size: 1rem;
            padding-top: .4rem;
        }
        .container-questions .card-body {
            font-size: .9rem;
            padding: 0 .8rem;
        }
    }

    @media (max-width: 370px) {
        .container .row .col-md-12 .section-title-course {
            font-size: 2.2rem;
        }
    }