@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap');
body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 11%, rgba(224,199,229,1) 42%, rgba(231,244,255,1) 96%);
    /* background-position-y: 50%; */
    color: #000000;
    height: calc(100vh - 4rem);
    background-size: cover;
    background-repeat: no-repeat;
    /* font-family: "Inter", sans-serif;
    font-family: "Raleway", sans-serif; */
    font-family: 'Baloo Tamma 2', cursive;
}

.container {
    margin-top: 4rem;
    /* font-family: "Inter", sans-serif;
  font-family: "Raleway", sans-serif; */
}

.container-navbar-router a {
  margin-left: 1.5rem;
    text-decoration: none;
    color: #737BF1;
    font-size: 1.2rem;
}

.container-navbar-router i {
  color: #737BF1;
  font-size: .8rem;
}

.container-navbar-router span {
  color: #737BF1;
  font-size: 1.2rem;
}

.container-pay .d-flex h4 {
    font-size: 1.3rem;
}

.container-pay .d-flex span {
  font-size: 1.3rem;
}

.container-pay .d-flex span a {
    color: #EDF4FF;
}

.container-pay .d-flex div:last-child{
  text-decoration: none;
    background-color: #737BF1;
    border-radius: 10px;
    color: #EDF4FF;
    padding: .2rem .8rem .1rem .8rem;
    text-align: center;
}

.container-pay .container-pay-online .col-12 {
    background-color: #f7f7f7;
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(148, 148, 148);
}

.container-pay .container-pay-card .col-12 {
    /* background-color: #f7f7f7; */
    border: 2px solid #f7f7f7;
    border-radius: 5px;
    font-size: 13px;
}

.container-pay .container-pay-card a {
    text-decoration: none;
    color: #000000;
}

.container-pay .container-pay-card .col-12:hover {
    /* border: 2px solid #abb0ee;
  cursor: pointer;
  transition: .3 all ease-in; */
}

.container-info-course {
  border-radius: 1rem;
  box-shadow: 6px 6px 10px -1px rgba(124,131,253,0.8);
}

.container-info-course div h4 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #737BF1;
}


/* .container-info-course .px-4 p{
  font-size: 15px;
  font-weight: bold;
} */

.container-info-course .d-flex span {
  line-height: 20px;
}

.container-info-course .d-flex span span {
    font-size: 1rem;
    font-weight: bold;
}

.container-info-resumen {
  border-radius: 1rem;
  box-shadow: 6px 6px 10px -1px rgba(124,131,253,0.8);
}

.container-info-resumen div h4 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #737BF1;
}


/* .container-info-resumen .px-4 p{
  font-size: 15px;
  font-weight: bold;
} */

.container-info-resumen div .row .container-image-detalle {
  border-radius: 1rem;
  height: 100px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-info-resumen div .row .container-image-detalle img {
  width: 120%;
}

.container-info-resumen .info-resumen-detalle span {
  line-height: 20px;
  font-size: 1rem;
}

.container-info-resumen hr {
  border: 1px solid #737BF1;
}

@media (max-width: 767px) {
    .container-info-course {
        margin-top: 1rem;
    }
    body {
      height: 100%;
    }
    .container-info-resumen{
      margin-bottom: 2rem;
    }
    .container {
      margin-top: 1rem;
    }
}

#accordion .card {
    border: 1px solid transparent;
}

#accordion .card a {
  font-size: 1rem;
}

#accordion .card .card-header {
    border: none;
    background-color: #f7f7f7;
}

#accordion .card .card-header i {
    color: rgb(176 176 176 / 75%);
}


/* paypal (1).png */


/* .container-pay .container-pay-card .col-12 .form-check input i{
  font-size: 15px;
} */


/* .container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-family: "Raleway", sans-serif;
}
.contenedor-nextpage {
  text-align: center;
}
.image-cont{
    max-width: 100px;
}
.contenedor-nextpage h3 {
  font-size: 18px;
  font-weight: normal;
}
.contenedor-nextpage span {
  font-size: 20px;
  font-weight: bold;
}
.contenedor-nextpage a {
  border-radius: 20px;
  width: 100%;
}
.contenedor-nextpage .visa {
    background-color: #fff;
}
.contenedor-nextpage .paypal {
    background-color:  #f9c835 ;
}
.contenedor-nextpage .credit i{
    color: #ffffff;
    font-size: 1.5rem;
}
.contenedor-nextpage .credit {
    background-color: #313131;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}
.contenedor-nextpage a img {
  height: 1.5rem;
}
.contenedor-nextpage h5 {
  font-size: 12px;
  font-weight: bold;
}
.contenedor-nextpage h4 {
  font-size: 15px;
  font-weight: normal;
}
@media (max-width: 570px) {
  .contenedor-nextpage {
    padding: 0 1rem;
  }
  .contenedor-nextpage h3 {
    font-size: 15px;
  }
  .contenedor-nextpage span {
    font-size: 25px;
  }
  .contenedor-nextpage h5 {
    font-size: 12px;
  }
  .contenedor-nextpage h4 {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .contenedor-nextpage h1 {
    font-size: 28px;
  }
  .contenedor-nextpage h3 {
    font-size: 13px;
  }
  .contenedor-nextpage span {
    font-size: 15px;
  }
  .contenedor-nextpage h5 {
    font-size: 10px;
  }
  .contenedor-nextpage h4 {
    font-size: 13px;
  }
} */

