@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

body {
  background-image: url("../images/preguntas.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position-y: 50%; */
  color: #000000;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-family: "Raleway", sans-serif;
}
.container {
  margin-top: 4rem;
  /* font-family: "Inter", sans-serif;
  font-family: "Raleway", sans-serif; */
}
.container-navbar-router a {
  text-decoration: none;
  color: #777777;
  font-size: 14px;
}
.container-navbar-router i{
  font-size: 10px;
  color: #777777;
}
.container-navbar-router span{
  font-size: 14px;
  color: #777777;
}
.container-pay .d-flex h4 {
  font-size: 14px;
}
.container-pay .d-flex span {
  font-size: 14px;
}
.container-pay .d-flex span a {
  text-decoration: none;
}
.container-pay .container-pay-online .col-12 {
  background-color: #f7f7f7;
  border-radius: 5px;
  font-size: 13px;
  color: rgb(148, 148, 148);
}
.container-pay .container-pay-card .col-12 {
  /* background-color: #f7f7f7; */
  border: 2px solid #f7f7f7;
  border-radius: 5px;
  font-size: 13px;
}
.container-pay .container-pay-card a {
  text-decoration: none;
  color: #000000;
}
.container-pay .container-pay-card .col-12:hover {
  /* border: 2px solid #abb0ee;
  cursor: pointer;
  transition: .3 all ease-in; */
}
.container-info-course {
  border-top: 3px solid #abb0ee;
}
.container-info-course .px-4 h5 {
  font-size: 15px;
  font-weight: bold;
}
/* .container-info-course .px-4 p{
  font-size: 15px;
  font-weight: bold;
} */
.container-info-course .px-4 .d-flex span {
  font-size: 13px;
  /* font-weight: bold; */
}
.container-info-resumen .px-4 h5 {
  font-size: 15px;
  font-weight: bold;
}
/* .container-info-resumen .px-4 p{
  font-size: 15px;
  font-weight: bold;
} */
.container-info-resumen .px-4 .row {
  font-size: 13px;
  /* font-weight: bold; */
}
.container-info-resumen .px-4 .row .container-image-detalle {
  position: relative;
  /* border:1px dashed red; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container-info-resumen .px-4 .row .container-image-detalle img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 767px) {
  .container-info-course {
    margin-top: 1rem;
  }
}

/* paypal (1).png */
/* .container-pay .container-pay-card .col-12 .form-check input i{
  font-size: 15px;
} */
/* .container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-family: "Raleway", sans-serif;
}
.contenedor-nextpage {
  text-align: center;
}
.image-cont{
    max-width: 100px;
}
.contenedor-nextpage h3 {
  font-size: 18px;
  font-weight: normal;
}
.contenedor-nextpage span {
  font-size: 20px;
  font-weight: bold;
}
.contenedor-nextpage a {
  border-radius: 20px;
  width: 100%;
}
.contenedor-nextpage .visa {
    background-color: #fff;
}
.contenedor-nextpage .paypal {
    background-color:  #f9c835 ;
}
.contenedor-nextpage .credit i{
    color: #ffffff;
    font-size: 1.5rem;
}
.contenedor-nextpage .credit {
    background-color: #313131;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}
.contenedor-nextpage a img {
  height: 1.5rem;
}
.contenedor-nextpage h5 {
  font-size: 12px;
  font-weight: bold;
}
.contenedor-nextpage h4 {
  font-size: 15px;
  font-weight: normal;
}
@media (max-width: 570px) {
  .contenedor-nextpage {
    padding: 0 1rem;
  }
  .contenedor-nextpage h3 {
    font-size: 15px;
  }
  .contenedor-nextpage span {
    font-size: 25px;
  }
  .contenedor-nextpage h5 {
    font-size: 12px;
  }
  .contenedor-nextpage h4 {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .contenedor-nextpage h1 {
    font-size: 28px;
  }
  .contenedor-nextpage h3 {
    font-size: 13px;
  }
  .contenedor-nextpage span {
    font-size: 15px;
  }
  .contenedor-nextpage h5 {
    font-size: 10px;
  }
  .contenedor-nextpage h4 {
    font-size: 13px;
  }
} */
