* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #303433;
}
body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle at -7.16% 90.02%,
    #00ffff 0,
    #39ffff 25%,
    #53bcf2 50%,
    #4e7ea0 75%,
    #3c4b5a 100%
  );
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0.9;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 54px;
}
.image {
  margin-bottom: 30px;
}
.login-container {
  max-width: 450px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
.separator {
  width: 150px;
  height: 4px;
  background-color: #4f52d6;
  margin: 24px;
}
.welcome-message {
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  color: #4f52d6;
}
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-control {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}
input,
button {
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1.1em;
}
input {
  width: 100%;
  color: #4f52d6;
  letter-spacing: 0.5px;
  padding: 14px 64px;
  border: 1px solid #888;
  text-align: center;
  font-size: 14px;
}
input:focus {
  border: 1px solid #4f52d6;
}
input ~ i {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  transition: color 0.4s;
}
input:focus ~ i {
  color: #4f52d6;
}
button.submit {
  color: #fff;
  padding: 14px 64px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-image: linear-gradient(to right, #4f52d6, #15a0e1);
  cursor: pointer;
  transition: opacity 0.4s;
}
button.submit:hover {
  opacity: 0.9;
}
.submit-button {
  text-align: center;
  color: #5e5c5c;
  padding: 10px 64px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  transition: opacity 0.4s;
  border-radius: 10px;
  text-transform: uppercase;
  transition: color 0.4s;
  text-decoration: none;
}
.submit-button:hover {
  color: #4f52d6;
  transition: color 0.4s;
}