@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
a{
    font-size: 15px;
}
.parr{
    font-size: 15px;
    display: inline-block;
}
  .btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
  }
  .btn1:hover{
    background-color: white;
    border: 1px solid;
    color: #000;
  }

  /*Validacion*/

  label.error{
color: red;
font-size: 13px;
max-width:300px;
padding: 4px;
margin:0;
}
.logo-img{
    width: 150px;
}
.cajita{
    width: 450px;
}
@media (max-width:992px){
    .col-lg-6 .img-fluid{
      display: none;
    }
}
@media (max-width:580px){
    .cajita{
        max-width: 300px;
    }
}