:root {
    --main-bg-color: 'assets/images/fondo1.png' ;
  }
.bg-dark1{
    background: url('../images/fondo1.png');
    background-size: cover;
}
.row {
  margin: 0 auto;
  max-width: 1600px;
}
.bg-dark1 .row .col-xl-4 .card .card-body .btn-outline-dark {
  width: 100%;
  border-radius: 0;
  padding: 0.5rem 0;
}
.bg-light .row .info-course-left {
  display: none;
}
#accordion .card .card-header span {
  color: #000000;
  font-weight: bold;
}
@media (max-width: 767px) {
  .bg-dark1 .row .info-course-right {
    display: none;
  }
  /* .bg-light .row .info-course-left {
      display: block;
  } */
}
