.btn-before-custom {
  padding: 10px 25px;
  color: #fff;
  font-size: 20px;
  background: #4F52D6;
  border-radius: 30px;
  font-weight: 200;
  margin-left: 25px;
}

.btn-before-custom:hover {
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  opacity: 1;
}
