@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.title_miscursos{
    width: 100%;
    text-align: center;
    font-family: "Satisfy", cursive;
    font-size: 5rem;
    color: #ECBE83;
}
.blog-post-cursos{
    width: 90%;
    max-width: 150rem;
    background-color: #fff !important;
    box-shadow: 0 1.4rem 8rem #00000033;
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    background: transparent;
    border: 1px solid #130f40;
    margin-left: 90px;
}


.blog-post_img_cursos{
    min-width: 30rem;
    max-width: 30rem;
    height: 13rem;
    position: relative;
}

.blog-post_img_cursos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
}

.blog-post_title{
    font-size: 2rem;
    color: #130f40;
    padding: 10px;
    margin-left: 20px;
    font-weight: 600;
}

.blog-posrt_text{
    font-size: 1rem;
    color: #666;
    padding-left: 10px;
    padding-right: 5px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: left;
}

.blog-post_cta_cursos{
    display: inline-block;
    padding: .5rem 4rem;
    letter-spacing: 1px;
    font-size: .9rem;
    margin: 0 0 20px 0;
    color: #130f40;
    border: 2px solid #130f40;
    background-color: transparent;
    border-radius: 5rem;
    text-decoration: none;
    transform: translateX(20rem);
}

.blog-post_cta_cursos:hover{
    background-color: #130f40;
    color: white;
    border: 2px solid #130f40;
}


@media screen and (max-width: 1323px){
    .blog-post_containter{
        height: 255vh;
    }
    .titlemc h1{
        transform: translateY(12rem);
    }
    .blog-post-cursos{
        max-width: 120rem;
        margin: auto;
    }
    .blog-posrt_text{
        padding: 0 20px 0 10px;
    }
    .blog-post_cta{
        transform: translateX(50rem);
    }
    .blog-post_cta_cursos{
        transform: translateX(18rem);
    }
}

@media screen and (max-width: 1248px){
    
    .titlemc h1{
        transform: translateY(12rem);
    }
    .blog-post-cursos{
        max-width: 120rem;
    }
    .blog-post_img_cursos{
        min-width: 28rem;
        max-width: 28rem;
    }
    .blog-post_cta_cursos{
        transform: translateX(41rem);
    }
    .blog-post_cta_cursos{
        transform: translateX(14rem);
    }
}
@media screen and (max-width: 1177px){
    .blog-post-cursos{
        max-width: 80rem;
    }
    .blog-post_img_cursos{
        min-width: 25rem;
        max-width: 25rem;
    }
    .titlemc h1{
        transform: translateY(12rem);
    }
    .blog-post_cta_cursos{
        transform: translateX(30rem);
    }
    .blog-post_cta_cursos{
        transform: translateX(11rem);
    }
}

@media screen and (max-width: 1126px){
    .blog-post-cursos{
        max-width: 80rem;
    }
    .blog-post_img{
        min-width: 30rem;
        max-width: 30rem;
    }
    .titlemc h1{
        transform: translateY(12rem);
    }
    .blog-post_cta_cursos{
        transform: translateX(30rem);
    }
    .blog-post_cta_cursos{
        transform: translateX(8rem);
    }
}

@media screen and (max-width: 1085px){
    .blog-post-cursos{
        max-width: 80rem;
    }
    .titlemc h1{
        transform: translateY(12rem);
    }
    .blog-post_img_cursos{
        min-width: 18rem;
        max-width: 18rem;
        height: 13rem;
        position: relative;
    }
    .blog-post_cta_cursos{
        transform: translateX(10rem);
    }
}

@media screen and (max-width: 995px){
    .blog-post-cursos{
        max-width: 80rem;
    }
    .titlemc h1{
        transform: translateY(12rem);
    }
    .blog-post_img_cursos{
        min-width: 18rem;
        max-width: 18rem;
        height: 13rem;
        position: relative;
    }
    .blog-post_cta_cursos{
        transform: translateX(4rem);
    }
}

@media screen and (max-width: 900px){
    .blog-post_containter{
        height: 290vh;
    }
    .blog-post-cursos{
        max-width: 70rem;
    }
    .blog-posrt_text{
        font-size: 1rem;
        color: rgba(0, 0, 0, .7);
        padding-left: 10px;
        padding-right: 5px;
        margin-left: 20px;
        margin-right: 10px;
        text-align: left;
    }
    .blog-post_img_cursos{
        min-width: 16rem;
        max-width: 16rem;
        height: 13rem;
        position: relative;
    }
    .blog-post_cta_cursos{
        transform: translateX(2rem);
    }
    
    
}


@media screen and (max-width: 815px){
    .blog-post-cursos{
        text-align: center;
        transform: translatey(8rem);
        padding: .5rem;
        flex-direction: column;
    }
    .blog-post_img_cursos{
        min-width: 60%;
        max-width: 60%; 
    }
    .blog-post_img_cursos img{
        border-radius: 2.5rem;
    }
    .titlemc h1{
        text-align: center;
        transform: translateY(12Srem);
        
    }
    .blog-post_cta_cursos{
        transform: translateX(.1rem);
    }
    .title_miscursos{
        font-size: 4rem;
    }
}

@media screen and (max-width: 575px){
    .title_miscursos{
        font-size: 2.6rem;
    }
}